/* reset */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html{
    font-family: "Montserrat", sans-serif;
}

:root{
    --grey:#282828;
    --darkblue:#141922;
    --greytxt:#7D7F84;
    --colwidth:calc((100% / 6) - 40px);
    --asidewidth:250px;
}

img{
    max-width:100%;
}
/* general */
.container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

a{
    text-decoration:none;
}
h2{
    color:white;
    font-size:2.2rem;
    margin-top:40px;
}

h3{
    font-size:1.5rem;
    color:white;
    padding:10px 0;
}

h4{
    color:white;
    text-transform: uppercase;
}

.main-section section:not(.upgrade){
    margin-left:20px;
}

.btn-hover:hover{
    color:white;
}
.categories li:hover .border-bottom{
    display:block;
}

.border-bottom{
    background-color: lime;
    width:40%;
    left:50%;
    transform: translateX(-50%);
    padding-top:3px;
    position:absolute;
    display:none;
}

li{
    position:relative;
    list-style:none;
}

li a{
    color:var(--greytxt);
    font-weight:600;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}

/* main */

main{
    background-color:var(--darkblue);
}

.main-section{
    
    margin-left:var(--asidewidth);
    overflow:scroll;
    scrollbar-width:none;
    margin-bottom:120px;
}

.row{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    margin-top:20px;
}

section > p{
    color:var(--greytxt);
    padding:15px 0;
    font-weight:600;
}

/* aside */

aside{
    width:var(--asidewidth);
    background-color:black;
    height:calc(100vh - 100px);
    position:fixed;
    min-height:300px;
    display:flex;
    flex-direction:column; 
}



.logo-container{
    width:80%;
}
.logo-container a img{
    padding:20px;
}
.top-nav{
    width:100%;
}
.screen-xs{
    display:none;
    width:100%;
}

.top-nav li,
.middle-nav li,
h4{
    width:100%;
    padding:10px 20px;
    margin-bottom:5px;
}
.top-nav li span{
    display:inline-block;
}
.icon{
    width:40px;
}

.top-nav li:hover {
    border-left:5px solid lime;
}



.middle-nav{
    overflow-y:auto;
    scrollbar-width:none;
    flex-grow:1;
}
.bottom-nav{
    justify-self:flex-end;
}
.bottom-nav >*{
    margin:10px 20px;
}


.bottom-nav a{
    color:var(--greytxt)
}

.bottom-nav hr{
    border-color:var(--greytxt)
}


.profile-pic{
    width:30%;
    height:50px;
    background-color:var(--greytxt);
    border-radius:50%;
    overflow:hidden;
}


.profile-pic img{
    width:100%;
    height:100%;
    object-fit:contain;
    
}
.profile-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.profile-container h4{
    color:white;
}

a.flex{
    align-items:center;

}

/* sezione btn upgrade */

.upgrade{
    min-height:100px;
    background-color:rgba(0, 0, 0, 0.5);
    width:calc(100% - var(--asidewidth));
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:fixed;
    top:0;
    z-index:1;
}
.upgrade > a{
    border:1px solid white;
    padding: 10px 50px;
    color:white;
    margin-right:15px;
    border-radius:20px;
    font-weight:600;
    text-transform:uppercase;
}
#upgradebtn:hover{
    transform:scale(1.1)
}

/* sezione categories */
.categories{
    margin-top:120px;
}
.categories ul{
    text-align:center;
}
.categories ul li{
    display:inline-block;
    list-style:none;
    margin-top:15px;  
}

.categories ul li a{ 
    text-transform:uppercase;
    padding:10px 15px;
}

/* recently played */


.col-1-6{
    width:var(--colwidth);
    margin-right:20px;
}

.card{
    width:100%;
    cursor:pointer;
}

.upper-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.upper-card{
    position:relative;
}

.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.5);
    overflow:hidden;
    display:none;
}

.overlay i{
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.card:hover .overlay{
    display:block;
    
}

.lower-card{
    width:100%;
    text-align:center;
}

.lower-card span{
    color: var(--greytxt);
    font-weight:600;
}

/* sezione artisti più popolari */

.popular-artists .upper-card{
    border-radius:50%;
    width:100%;
    height:100%;
    overflow:hidden;
}

/* footer */
footer{
    width:100%;
    height:100px;
    background-color:var(--grey);
    position:fixed;
    bottom:0;
    left:0;
}

.ftr-center{
    width:40%;
}

.ftr-left,.ftr-right{
    width:30%;
}


footer .container.flex{
    align-items:center;
    height:100%;
    padding-left:10px;
}
.ftr-left{
    display:flex;
    align-items:center;
}

.album-container{
    height:50px;
    width:50px;
    margin-right:10px;
}
.album-container img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.song-description h5{
    color:white;

}
.song-description div{
    color:var(--greytxt);
    font-size:0.8rem;
    font-weight:600;
}

.song-icons{
    color:var(--greytxt);
    margin-left:15px;
}

.song-icons i{
    margin-right:10px;
}


.ftr-center .top{
    color:white;
    padding-bottom:10px;
    width:100%;
    justify-content:center;
    align-items:center;
}

.ftr-center .bottom{
    width:100%;
    justify-content:center;
    align-items:center;
}

.ftr-center .top > *{
    padding:8px;
}

.top i:hover{
    color:lime;
}

.bottom > *{
    font-size:0.8rem;
    color: var(--greytxt);
    font-weight:600;
    margin-bottom:20px;
}

.bar{
    height:5px;
    background-color:var(--greytxt);
    width:60%;
    border-radius:5px;
    margin-right:5px;
    margin-left:5px;
}

.inner-bar{
    height:100%;
    border-radius:5px;
    width:10%;
    background-color:white;
    position:relative;
}

.pointer{
    width:10px;
    height:10px;
    background-color:white;
    border-radius:50%;
    position:absolute;
    left:90%;
    top:50%;
    transform:translateY(-50%);
    display:none;
}

.bar:hover .pointer{
    display:block;
}
.ftr-right.flex{
    justify-content:flex-end;
    height:100%;
    align-items:center;
}
.ftr-right i{
    padding-right:10px;
    color:var(--greytxt);

}

.bar.smaller{
    width:100px;
}


/* responsive */

@media screen and (max-width:1100px){
    :root{
        --colwidth:calc((100% / 4) - 40px);
    }
}

@media screen and (max-width:700px){
    :root{
        --colwidth:calc((100% / 2) - 40px);
    }
}

@media screen and (max-width:600px){
    :root{
        --asidewidth:60px
    }

    .logo-container{
        width:100%;
    }
    .logo-container a img {
        padding: 5px;
    }
    .top-nav li {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }

  

    #spotify-logo,
    .top-nav li a > span:not(.icon),
    .middle-nav,
    .bottom-nav > a span,
    .profile-container h4 {
        display:none;
    }

    .profile-pic {
        width: 40px;
        height: 40px;
    }

    .screen-xs{
        display:block;
    }

    .top-nav{
        flex-grow:1;
    }
    
    .bottom-nav{
        text-align:center;
    }
    .bottom-nav >* {
        margin:0;
    }

    .bottom-nav > a {
        padding:10px;
    }

    .profile-container {
        justify-content: center;
        margin-top:10px;
    }

    
    
    
}